doctype html
html
  head
    title Create Computer
  body
    h1 Create a Computer

    form(action="/update-cobj" method="POST")
      div
        label(for="name") Name:
        input(type="text" name="name" id="name" required)
      div
        label(for="ram") RAM (GB):
        input(type="number" name="ram" id="ram" min="0" required)
      div
        label(for="storage") Storage (GB):
        input(type="number" name="storage" id="storage" min="0" required)
      div
        button(type="submit") Submit

    br
    a(href="/") Return to homepage
